#letter_box{
    display: flex;
    height: 150px;
    width: 100%;
    background-color: bisque;
}
#display{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: lightcyan;
}
#lives{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: rgb(227, 255, 224);
}

.show{
    display: block;
}   

.hide{
    display: none;
}